name: Publish calendar
on: [workflow_dispatch]
permissions:
  id-token: write
  contents: write
env:
  WORKING_DIRECTORY: ./apps/calendar
jobs:
  check-version:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@v4
      - name: Check the package version
        id: cpv
        uses: PostHog/check-package-version@v2
        with:
          path: ${{ env.WORKING_DIRECTORY }}
      - name: Log when unchanged
        if: steps.cpv.outputs.is-new-version == 'false'
        run: 'echo "No version change"'
      - name: Cancel workflow
        if: steps.cpv.outputs.is-new-version == 'false'
        uses: andymckay/cancel-action@0.2

  publish-npm:
    needs: check-version
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '18'
          registry-url: 'https://registry.npmjs.org'
          scope: '@tlmgo'
      - name: Install dependencies
        uses: ./.github/composite-actions/install-dependencies
      - name: Build calendar
        run: |
          npm run build:calendar
      - name: Check package version
        id: cpv
        uses: PostHog/check-package-version@v2
        with:
          path: ${{ env.WORKING_DIRECTORY }}
      - name: Create new version tag
        run: |
          git tag calendar@${{ steps.cpv.outputs.committed-version }}
      - name: Push new version tag
        run: |
          git push origin calendar@${{ steps.cpv.outputs.committed-version }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Update the relative links in README
        run: |
          PACKAGES=core npm run update:readme
      - name: Publish the package to npm (Calendar)
        working-directory: ${{ env.WORKING_DIRECTORY }}
        run: |
          npm publish --access public
